


:root{
    --primary:#121f3d;
    --white:#fff;
    --gray:#2a324b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--white);
    background-color:var(--primary) ;
    height: 100vh;
}
header{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--gray);
}

                            /*VERSION PARA DESKTOP*/

@media(min-width:750px){
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav__checkbox{
        display: none;
    }
    .nav__toggle{
        display: none;
    }
    
    .btnMenu{
        display: flex;
        flex-direction: column;
        color:#fff ;
        text-decoration: none;
    }
    li{
        list-style:none;
    }
    .nav__menu{
        /* height: max-content;
        width: min-content;
        position: absolute;
        right: 0;  */
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        
        
    }
    .logo{
        display:flex;
        
    }
    
    }
    
    